body {
    margin: 0;
    font-family: sans-serif;
    color: #444;
}

form {
    background-color: #ededed;
    padding: 20px 0;
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0px 0px 35px #0006;
}

.form_input {
    padding: 10px 20px;
}

h2 {
    text-align: center;
    margin: 0 0 10px 0;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border-left: 2px solid #666; 
    box-shadow: 0px 0px 15px #0001;
}

.qr_container {
    text-align: center;
    margin-top: 20px;
}
